# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store